@charset "UTF-8";

/* .color1 { #44749d };
.color2 { #c6d4e1 };
.color3 { #ffffff };
.color4 { #ebe7e0 };    
.color5 { #bdb8ad }; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;
}

li {
    list-style-type: none;
}



body {
    position: relative;
    display: flex;
    align-items: center;

    height: 100vh;

    background-image: url('../img/pexels-rarnie-mccudden-802464.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

body::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.511);

    z-index: 1  00;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 1024px;
    height: 500px;
    margin: 0 auto;

    background-color: #ade25d;
    border-radius: 20px;

    border: 6px solid #ade25d;

    z-index: 1000;
}

/* IMC DESCRIPTION */
.imc-desc {
    background-color: white;
    padding: 1rem;
}

.imc-desc hr {
    border-color: #ade25d;
}

.imc-desc h2 {
    font-weight: bolder;
    text-align: center;
    color: #2e2f2f;
}

.imc-desc h1 {
    color: #051014;
    margin: 1rem 0 .8rem 0;
}

.imc-desc p {
    color: #2e2f2f;
    margin-bottom: .325rem;
}

/* FORM DATA INPUT */
form {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
}

form .inputs {
    display: flex;
    gap: 1rem;

    width: 100%;
    margin-bottom: 1rem;
}

form .inputs label {
    width: 100%;
}

form .inputs h2 {
    font-size: 1rem;
    text-align: start;
    margin-left: .325rem;
}

form .inputs input {
    padding: .365rem;
    width: 100%;

    outline: 0;
    border-radius: 15px;
    border-color: #ade25d;
}

/* BUTTONS INPUT */

form .buttons {
    display: flex;
    gap: 1rem;
}

form .buttons button{
    width: 50%;
    padding: .465rem;
    border-radius: 20px;
    border: none;

    color: white;
    font-weight: bolder;

    cursor: pointer;
}

form .buttons #calculate {
    background-color: #114fa0;
    
}

form .buttons #calculate:hover {
    background-color: #04316d;
    transition: .5s ease;
}

form .buttons #clean {
    background-color: #ee5813;
}

form .buttons #clean:hover {
    background-color: #d14504;
    transition: .5s ease;
}

.container-classificacao {
    padding: 1rem;
}

.container-classificacao hr {
    border-color: #051014;
}

.container-classificacao h2 {
    color: #051014;
    text-align: center;
}

#seu-imc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1.5rem;
}

.resultado-imc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

.resultado-imc h1 {
    margin-top: .3rem;
    font-size: 3rem;
}

.resultado-imc p {
    font-size: 1.2rem;
}

#seu-imc a {
    color: blue;
    font-weight: bolder;
}

#seu-imc a:hover {
    color: rgba(0, 0, 255, 0.672);
}

